//EXTERNAL IMPORTS
// Foundation settings file
@import 'settings';

/**  SPECIFIC STYLE AND STRUCTURE **/

/*BOOK*/
#chapter-content {
    height: 90vh;
    overflow: auto;
}

/** GENRAL CLASSES **/

.white {
    color: #fff;
}

.entrypage-input {
    background: none;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid $white;
    box-shadow: none;
}


.entrypage-submit {
    border: none;
    border-radius: 3px;
    margin-top: 40px;
    outline: none;
}
