//EXTERNAL IMPORTS
// Foundation settings file
@import 'settings';

/** SPECIFIC STYLE AND STRUCTURE **/

// OVerall structure
#main-dashboard {
    height: 100%;
}

#chapter-content {
    height: 90vh;
    overflow: auto;
}

#public-layout {
    background-color: #3498db;
    height: 100vh;
    overflow:auto;
}

#entrypage-main-row{
    margin-top: 5em;
}

#github-logo {
    color: #aaa;
    font-size: 2rem;
}

#entrypage-title {
    color: #fff;
    font-size: 2rem;
}

#github-logo:hover {
    color: #fff;
}

/** GENRAL CLASSES **/

.white {
    color: #fff;
}

.entrypage-input {
    background: none;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid $white;
    box-shadow: none;
}


.entrypage-submit {
    border: none;
    border-radius: 3px;
    margin-top: 40px;
    outline: none;
}
