/****************************************
openTeach CSS style sheet
****************************************/

/*---- Quicksand google font ----*/
	@import url(https://fonts.googleapis.com/css?family=Quicksand:400,300,700);
/*---- Crafty girls google font ----*/
	@import url(https://fonts.googleapis.com/css?family=Crafty+Girls);

/*************************************************
GLOBAL STYLES
*************************************************/

	body {
		font-family: 'Quicksand', sans-serif;
		font-weight: 100;
		margin: 0;
		padding: 0;
        height: 100vh;
        background-color: #3498db;
	}

    .DashboardBackground {
        background-color: #fafafa;
        background-size: cover;
        height: 100vh;
    }

    .modalForm {
        background-color: #3498db;
    }

/*************************************************
TYPOGRAPHY
*************************************************/

	h1,
	h2,
	h3,
	h4,
	h5 {
		font-family: 'Quicksand', sans-serif;
		font-weight: 300;
		margin: 0;
		padding: 0;
	}

	p {
		font-family: 'Quicksand', sans-serif;
		font-weight: 400;
        text-align: justify;
	}

/*************************************************
							---== ENTRY PAGE ==---
*************************************************/


/*************************************************
APP COMPONENT
*************************************************/

.App__component {
	font-family: 'Quicksand', sans-serif;
}

/*************************************************
NAVIGATION COMPONENT
*************************************************/

	.navigation {
		height: auto;
		display: flex;
	}

	.navigation ul {
		list-style: none;
		padding: 20px 30px 0 0;
		margin: 0;
	}

	.navigation li {
		list-style: none;
	}

	.navigation a {
		color: lightgrey;
		text-decoration: none;
		font-weight: 400;
		font-size: 12px;
	}

	.navigation a:hover {
		color: #fff;
		text-decoration: none;
	}
	.navigation a:visited {
		text-decoration: none;
	}

	.navigation__logo {
		font-family: 'Quicksand', sans-serif;
		font-weight: 400;
		padding: 20px 30px 0 30px;
		font-size: 20px;
		flex-grow: 1;
		color: #fff;
        margin: 0;
	}

/*************************************************
MAIN CONTENT COMPONENT
*************************************************/

	.mainContent {
		text-align: center;
	}

	.mainHeading {
		font-size: 40px;
		font-weight: 300;
		padding-top: 80px;
		margin: 0 0 20px 0;
		color: #fff;
	}

	.mainContent__subtext {
        display: flex;
        justify-content: center;
		color: #fff;
		font-size: 13px;
		font-weight: 400;
		margin-bottom: 60px;
	}

/*************************************************
SIGN UP COMPONENT
*************************************************/

/*---- SIGN UP FORM ----*/

	.signUpForm {
		display: flex;
		flex-direction: column;
	}

	.signUpForm input[type=text] {
		font-size: 16px;
		font-weight: 100;
		width: 400px;
		margin: 20px auto;
		border: none;
    	outline: none;
    	background: none;
    	box-shadow: none;
    	border-bottom: 1px solid #fff;
	}

/*---- Placeholder text ----*/

        /* WebKit, Blink, Edge */
		.signUpForm input[type=text]::-webkit-input-placeholder {
		    color: lightgrey;
		}

        /* Mozilla Firefox 4 to 18 */
		.signUpForm input[type=text]:-moz-placeholder {
		   color: #fff;
		}

        /* Mozilla Firefox 19+ */
		.signUpForm input[type=text]::-moz-placeholder {
		   color: #fff;
		}

        /* Internet Explorer 10-11 */
		.signUpForm input[type=text]:-ms-input-placeholder {
		   color: #fff;
		}

/*---- Input text ----*/

		.signUpForm input[type=text], input {
			font-size: 16px;
			font-weight: 100;
			letter-spacing: 2px;
			color: #fff;
		}

/*---- Sign up button ----*/

	.signUpForm input[type=submit] {
		margin: 0 auto;
		margin-top: 40px;
		margin-bottom: 16px;
	    border-radius: 3px;
	    width: 200px;
	    height: 35px;
	    border: none;
	    outline: none;
	    background-color: #2ecc71;
	    font-size: 16px;
	    font-weight: 100;
	    color: #fff;
	    transition: background-color .28s ease-in-out;
	    letter-spacing: 3px;
	    /*Shadow for sign up button*/
		-moz-box-shadow: 0 3px 0 #27ae60;
        -webkit-box-shadow: 0 3px 0 #27ae60;
        box-shadow: 0 3px 0 #27ae60;
	}

	.signUpForm input[type=submit]:hover {
		background-color: #27ae60;
        color: #fff;
	}

/*************************************************
SIGN IN COMPONENT
*************************************************/

/*---- Sign in button in form of a link ----*/

	.orTagline {
        display: flex;
        justify-content: center;
		font-size: 12px;
		font-weight: 400;
		color: #fff;
		margin-top: 14px;
		letter-spacing: 2px;
	}

	.signInBtn a {
        display: flex;
        justify-content: center;
		font-size: 14px;
		font-weight: 400;
		color: #fff;
		text-decoration: none;
		letter-spacing: 2px;
	}

	.signInBtn a:hover {
		text-decoration: none;
		color: lightgrey;
		letter-spacing: 2px;
	}

    .signIn__heading {
        font-size: 26px;
        font-weight: 100;
        padding-top: 50px;
        margin-bottom: 10px;
        color: #3498db;
    }

    .signIn__subtext {
        display: flex;
        justify-content: center;
        color: #3498db;
        font-size: 13px;
        font-weight: 400;
        margin-bottom: 50px;
    }

    /* General styles for sign in input fields */

    .signIn__input {
        margin-left: 50px;
        margin-right: 50px;
    }

    /* Input label text */

    .signIn__input__text {
        text-align: left;
        margin-bottom: 10px;
    }

    .signIn__input__text:last-child {
        margin-bottom: 40px;
    }

    /* Btn - Sign in */
    .signIn__btn {
        margin: 0 auto;
        padding: 10px 30px;
        border-radius: 3px;
        border: none;
        outline: none;
        background-color: #2ecc71;
        font-size: 16px;
        font-weight: 100;
        color: #fff;
        transition: background-color .28s ease-in-out;
        letter-spacing: 3px;
        /*Shadow for sign up button*/
        -moz-box-shadow: 0 3px 0 #27ae60;
        -webkit-box-shadow: 0 3px 0 #27ae60;
        box-shadow: 0 3px 0 #27ae60;
    }

    .SignIn__btn:hover {
        color: #fff;
        background-color: #27ae60;
    }

    .SignIn__close__btn {
        padding-top: 30px;
    }

    /* Or sub-text */

    .signIn__orSubText {
        font-size: 12px;
        margin-top: 30px;
        color: grey;
        font-weight: 100;
    }

    /* General style for social btns */

    .signIn__social__btn {
        margin-top: 30px;
    }

/*************************************************
FOOTER COMPONENT
*************************************************/

	.footer {
        display: flex;
        justify-content: center;
	}

	.footer p {
		font-size: 12px;
		color: #fff;
        margin: 0;
        padding-bottom: 20px;
	}

/**************************************************
						---== DASHBOARD PAGE ==---
**************************************************/

/*---=== Dashboard Component ===---*/

.dashboard {
	// display: flex;
	flex-wrap: wrap;
	justify-content: center;
	font-family: 'Quicksand', sans-serif;
}

/*--== Styles for 'Apprenticeship' ==--*/

/* General styles for apprenticeship */
.apprenticeship {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	font-family: 'Quicksand', sans-serif;
    margin-top: 30px;
}

/* This headline styles is applied to both headlines */
.apprenticeship--headline {
    margin-bottom: 30px;
    font-weight: 100;
}

/* General styles for the apprenticeship information section */
.apprenticeship--information {
    margin-top: 60px;
}

.apprenticeship--informationtext {
    text-align: justify;
    padding-right: 50px;
    font-weight: 100;
    line-height: 32px;
}

/* General styles for the apprenticeship motivation section */
.apprenticeship--motivation {
    margin-top: 60px;
}

.apprenticeship--motivation textarea {
    border: 1px solid lightgrey;
    resize: none;
    height: 300px;
}

/* Btn - Apply for apprenticeship */
.apply__btn {
    margin: 0 auto;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 3px;
    height: 35px;
    border: none;
    outline: none;
    background-color: #2ecc71;
    font-size: 16px;
    font-weight: 100;
    color: #fff;
    transition: background-color .28s ease-in-out;
    letter-spacing: 3px;
    /*Shadow for sign up button*/
    -moz-box-shadow: 0 3px 0 #27ae60;
    -webkit-box-shadow: 0 3px 0 #27ae60;
    box-shadow: 0 3px 0 #27ae60;
}

.apply__btn:hover {
    background-color: #27ae60;
}

/*--== Styles for 'Courses' page ==--*/

/* Styling for the Courses tab */

//TODO: Rename classes from lectures to books
/* remember lectures are books */

.listOfCourses {
    display: flex;
    justify-content: center;
    background-color: #fafafa;
}

.listOfCourses__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
	margin-top: 50px;
	list-style: none;
}

.listOfCourses__list li {
    width: 600px;
    height: 300px;
    margin: 80px 10px 0px 10px;
    background-color: #fff;
    border: 1px solid lightgrey;
    border-radius: 3px;
    text-align: center;
    padding-top: 36px;
}

.listOfCourses__list li:last-child {
    margin-bottom: 100px;
}

.listOfCourses__list li a {
    font-weight: 300;
    font-size: 30px;
}

.listOfCourses__list li a:hover { /* Add hover effect here if wanted*/ }

/* Styling for the Courses page */

.list__logo {
    content:url("/assets/images/openTeach-owl-logo.gif");
    background-repeat: no-repeat;
    height: 100px;
    width: 60px;
    margin: 20px 0 30px 0;
}

.list__logo__text {
    justify-content: center;
    margin: 0;
    padding: 0;
    color: #3498db;
}

.chapterList {
    background-color: rgb(248, 248, 248);
    border-right: 1px solid lightgrey;
    height: 100vh;
    position: fixed;
}

.chapterList__ul {
    list-style: none;
    color: #fff;
    margin-top: 30px;
    text-align: center;
}

.chapterList__ul li {
    padding-top: 15px;
}

.chapterList__ul li:hover {
    text-decoration: underline;
}

/* Courses list 'landingpage' content */

/* Course content general styles */

#chapter-content {
    display: flex;
    justify-content: center;
    background-color: #fff;
    height: 100%;
}

#chapterSection {
    width: 700px;
}

/* Course content */

#chapter-content p {
    color: rgba(0,0,0,.8);
    font-size: 20px;
    line-height: 2;
}

/* Course content headline colors */

#chapter-content
h1,
h2,
h3,
h4,
h5,
h6 {
    color: rgba(0,0,0,.8);
    margin: 40px 0 20px 0;
    font-weight: 400;
}

#chapterTitle {
    display: flex;
    justify-content: center;
    font-size: 42px;
    color: rgba(0, 0, 0, .8);
    padding-top: 100px;
    letter-spacing: 3px;
    font-weight: 400;
}

/*--== Styles for 'lectures' page
    PAGE NOT ACTIVE YET...
==--*/

.chapters {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	font-family: 'Quicksand', sans-serif;
}

/* Coming soon headline in the lectures tab */
.coming-soon__headline {
	font-size: 34px;
    font-weight: 100;
	margin-top: 200px;
	display: flex;
	justify-content: center;
}

.lecture__btn--apply {
    text-align: center;
    margin-top: 60px;
}

/*************************************************
NOT FOUND 404 COMPONENT
*************************************************/

/*----  ----*/

.notFound {
    background: url("../assets/images/404PageImg.png");
    background-size: cover;
    height: 100vh;
    width: 100vw;

        &__text {
            font-size: 24px;
            padding-top: 250px;
            color: #fff;
            // color: rgb(11, 104, 159);
            text-align: center;
            margin: 0;
        }
        &__headline {
            font-size: 80px;
            font-weight: 100;
            color: #fff;
            // color: rgb(11, 104, 159);
            text-align: center;
            letter-spacing: 2px;
            margin: 20px 0 20px 0;
    }

        &__tagline {
            font-size: 24px;
            color: #fff;
            // color: rgb(11, 104, 159);
            text-align: center;
        }
}

/*************************************************
*************************************************
					---== RESPONSIVE DESIGN ==---
*************************************************
*************************************************/

/* Small only */
@media screen and (max-width: 39.9375em) {}

/* Medium and up */
@media screen and (min-width: 40em) {}

/* Medium only */
@media screen and (min-width: 40em) and (max-width: 63.9375em) {}

/* Large and up */
@media screen and (min-width: 64em) {}

/* Large only */
@media screen and (min-width: 64em) and (max-width: 74.9375em) {}
