//EXTERNAL IMPORTS
    // Foundation settings file
    @import 'settings';

// Classes for navigation
.textLogo {
    margin: 0.5rem 0 0 1rem;
}

.githubLogo {
    margin: 0.5rem 1rem 0 0;
}

// Classes for maincontent

.contentHeading {
    margin-top: 100px;
}
