//EXTERNAL IMPORTS
    // Foundation settings file
    @import 'settings';

// Classes for navigation
.textLogo {
    margin: 10px 0 0 10px;
}

.githubLogo {
    margin: 10px 34px 0 0;
}

// Classes for maincontent

.contentHeading {
    margin-top: 100px;
}
