//EXTERNAL IMPORTS
// Foundation settings file
@import 'settings';

// OVerall structure
#main-dashboard {
    height: 100%;
}

#chapter-content {
    height: 90vh;
    overflow: auto;
}

// Classes for navigation
.textLogo {
    margin: 10px 0 0 20px;
}

.githubLogo {
    margin: 10px 20px 0 0;
}

.githubLogo__text {
    font-size: 20px;
}

// Classes for maincontent

.contentHeading {
    margin-top: 100px;
}

// Classes for Sign in component

.signInInputEmail {
    // display: inline-block;
    margin-left: 21px;
}

.signInButton {
    margin-top: 30px;
}

// Classes for apprenticeship

.apprenticeship__content {
    margin-top: 100px;
}

// Classes for lectures

.lectures__back {
    margin-top: 100px;
}
