//EXTERNAL IMPORTS
    // Foundation settings file
    @import 'settings';

// TYPOGRAPHI

//White color text class
.whiteText {
    color: $white;
}

.blackText {
    color: $black;
}

// Classes for Entrypage

.entrypage__back {
    height: 100vh;
    background-color: #3498db;
    max-width: 100vw;
}

// Classes for navigation

.githubLogo {
    color: $medium-gray;
    font-size: 32px;
}

.githubLogo:hover {
    color: $white;
}

.githubText {
    margin-right: 20px;
    color: $medium-gray;
}

// Classes for Sign up

.signUpInput input {
    background: none;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid $white;
    box-shadow: none;
}

.signUpInput input:first-child {
    margin-top: 50px;
}

.signUpInput input[type=submit] {
    border: none;
    border-radius: 3px;
    width: 100px;
    margin-top: 40px;
    outline: none;
}


#chapter-content, .chapterList__ul {
    background-color: $white;
}

// Classes for apprenticeship

.apprenticeship__textarea {
    border: 1px solid lightgrey;
    resize: none;
    height: 200px;
    width: 550px;
}

.apprenticeship__content {
    margin-top: 100px;
}
